In [1]:
import graphlab
graphlab.product_key.set_product_key('C1F8-C271-2792-131F-9B58-89C4-548B-7F25')

# output active product key
graphlab.product_key.get_product_key()

'C1F8-C271-2792-131F-9B58-89C4-548B-7F25'

In [2]:
import graphlab as gl

In [3]:
user_view_all = gl.SFrame.read_csv('user_view_all.csv')

[INFO] graphlab.cython.cy_server: GraphLab Create v2.1 started. Logging: /tmp/graphlab_server_1488383550.log
INFO:graphlab.cython.cy_server:GraphLab Create v2.1 started. Logging: /tmp/graphlab_server_1488383550.log

Finished parsing file /home/ubuntu/user_view_all.csv

Parsing completed. Parsed 100 lines in 2.0627 secs.

This non-commercial license of GraphLab Create for academic use is assigned to raplsaxena@gmail.com and will expire on February 23, 2018.
------------------------------------------------------

Read 1594042 lines. Lines per second: 697953

Finished parsing file /home/ubuntu/user_view_all.csv

Parsing completed. Parsed 10106644 lines in 6.78367 secs.

Inferred types from first 100 line(s) of file as
column_type_hints=[int,int,str]
If parsing fails due to incorrect types, you can correct
the inferred type list above and pass it to read_csv in
the column_type_hints argument
------------------------------------------------------

In [4]:
user_view_all.head()

Columns:
	user_id	int
	shop_id	int
	timestamp	str

Rows: 10

Data:
+----------+---------+---------------------+
| user_id  | shop_id |      timestamp      |
+----------+---------+---------------------+
| 13201967 |   1197  | 2016-10-21 18:00:00 |
| 19461365 |   1197  | 2016-06-28 23:00:00 |
| 15022321 |   1197  | 2016-07-16 19:00:00 |
| 5440872  |   1197  | 2016-07-15 07:00:00 |
| 12594529 |   1197  | 2016-08-07 16:00:00 |
| 5440872  |   1197  | 2016-08-12 08:00:00 |
| 19918044 |   1197  | 2016-09-03 16:00:00 |
| 9476039  |   1197  | 2016-09-04 17:00:00 |
| 4081995  |   1197  | 2016-09-25 10:00:00 |
| 12594529 |   1197  | 2016-08-07 16:00:00 |
+----------+---------+---------------------+
[10 rows x 3 columns]

In [5]:
user_view_all['date'] = [d.split()[0] for d in user_view_all['timestamp']]

In [6]:
user_view_all['year'] = [d.split('-')[0] for d in user_view_all['date']]
user_view_all['month'] = [d.split('-')[1] for d in user_view_all['date']]
user_view_all['day'] = [d.split('-')[2] for d in user_view_all['date']]

In [8]:
import graphlab.aggregate as agg

user_grouped = user_view_all.groupby(key_columns= ['shop_id','year','month','day'],  operations={'count': agg.COUNT()})

In [9]:
user_grouped.head()

Columns:
	day	str
	month	str
	shop_id	int
	year	str
	count	int

Rows: 10

Data:
+-----+-------+---------+------+-------+
| day | month | shop_id | year | count |
+-----+-------+---------+------+-------+
|  15 |   07  |   848   | 2016 |   13  |
|  15 |   10  |    48   | 2016 |   8   |
|  18 |   07  |   1758  | 2016 |   7   |
|  23 |   06  |   931   | 2016 |   14  |
|  20 |   02  |   1287  | 2016 |   1   |
|  15 |   07  |   1604  | 2016 |   5   |
|  31 |   03  |   1275  | 2016 |   11  |
|  11 |   10  |   1462  | 2016 |   4   |
|  06 |   04  |   1767  | 2016 |   29  |
|  16 |   10  |   202   | 2016 |   7   |
+-----+-------+---------+------+-------+
[10 rows x 5 columns]

In [10]:
user_grouped['day'] = user_grouped['day'].astype(int)
user_grouped['month'] = user_grouped['month'].astype(int)
user_grouped['year'] = user_grouped['year'].astype(int)

In [11]:
user_grouped

Columns:
	day	int
	month	int
	shop_id	int
	year	int
	count	int

Rows: 419281

Data:
+-----+-------+---------+------+-------+
| day | month | shop_id | year | count |
+-----+-------+---------+------+-------+
|  15 |   7   |   848   | 2016 |   13  |
|  15 |   10  |    48   | 2016 |   8   |
|  18 |   7   |   1758  | 2016 |   7   |
|  23 |   6   |   931   | 2016 |   14  |
|  20 |   2   |   1287  | 2016 |   1   |
|  15 |   7   |   1604  | 2016 |   5   |
|  31 |   3   |   1275  | 2016 |   11  |
|  11 |   10  |   1462  | 2016 |   4   |
|  6  |   4   |   1767  | 2016 |   29  |
|  16 |   10  |   202   | 2016 |   7   |
+-----+-------+---------+------+-------+
[419281 rows x 5 columns]
Note: Only the head of the SFrame is printed.
You can use print_rows(num_rows=m, num_columns=n) to print more rows and columns.

In [12]:
user_grouped.save('user_view_grouped.csv', format= 'csv')

In [13]:
user_pay = gl.SFrame.read_csv('dataset/user_pay.txt', header = None)

Finished parsing file /home/ubuntu/dataset/user_pay.txt

Parsing completed. Parsed 100 lines in 2.23615 secs.

Read 1599316 lines. Lines per second: 717317

Read 11128977 lines. Lines per second: 1.42805e+06

Read 20688359 lines. Lines per second: 1.52091e+06

Read 30247047 lines. Lines per second: 1.55628e+06

Read 38172458 lines. Lines per second: 1.54935e+06

Read 47705230 lines. Lines per second: 1.57363e+06

Read 57263489 lines. Lines per second: 1.59346e+06

Read 66806935 lines. Lines per second: 1.61378e+06

Finished parsing file /home/ubuntu/dataset/user_pay.txt

Parsing completed. Parsed 69674110 lines in 42.5006 secs.

------------------------------------------------------
Inferred types from first 100 line(s) of file as
column_type_hints=[int,int,str]
If parsing fails due to incorrect types, you can correct
the inferred type list above and pass it to read_csv in
the column_type_hints argument
------------------------------------------------------

In [14]:
user_pay.rename({'X1':'user_id', 'X2': 'shop_id', 'X3': 'timestamp'})

Columns:
	user_id	int
	shop_id	int
	timestamp	str

Rows: 69674110

Data:
+----------+---------+---------------------+
| user_id  | shop_id |      timestamp      |
+----------+---------+---------------------+
| 22127870 |   1862  | 2015-12-25 17:00:00 |
| 3434231  |   1862  | 2016-10-05 11:00:00 |
| 16955285 |   1862  | 2016-02-10 15:00:00 |
| 13799128 |   1862  | 2016-01-13 14:00:00 |
| 13799128 |   1862  | 2016-07-05 12:00:00 |
| 20244878 |   1862  | 2016-09-17 15:00:00 |
| 20244878 |   1862  | 2016-05-29 16:00:00 |
|  438444  |   1862  | 2016-02-22 17:00:00 |
| 22003193 |   1862  | 2016-08-07 15:00:00 |
| 20244878 |   1862  | 2016-04-17 16:00:00 |
+----------+---------+---------------------+
[69674110 rows x 3 columns]
Note: Only the head of the SFrame is printed.
You can use print_rows(num_rows=m, num_columns=n) to print more rows and columns.

In [ ]:
user_pay['date'] = [d.split()[0] for d in user_pay['timestamp']]

In [ ]:
%time
user_pay['year'] = [d.split('-')[0] for d in user_pay['date']]
user_pay['month'] = [d.split('-')[1] for d in user_pay['date']]
user_pay['day'] = [d.split('-')[2] for d in user_pay['date']]

In [ ]:
user_pay_grouped = user_pay.groupby(key_columns= ['shop_id','year','month','day'],  operations={'count': agg.COUNT()})

In [ ]:
user_pay_grouped['day'] = user_pay_grouped['day'].astype(int)
user_pay_grouped['month'] = user_pay_grouped['month'].astype(int)
user_pay_grouped['year'] = user_pay_grouped['year'].astype(int)

In [ ]:
user_pay_grouped

In [ ]:
day = gl.SArray([])
month = gl.SArray([])
shop_id = gl.SArray([])
year = gl.SArray([])
conv_rate = gl.SFrame({'day':day,'month':month, 'shop_id': shop_id, 'year': year})

In [ ]:
for i in user_pay_grouped:
    for j in user_grouped:
        if( i['day'] == j['day'] and i['month'] == j['month']
           and i['shop_id'] == j['shop_id'] and i['year'] == j['year']):
            
            
            d = gl.SArray([i['day']])
            m = gl.SArray([i['month']])
            s_id = gl.SArray([i['shop_id']])
            y = gl.SArray([i['year']])
            
            cr = gl.SFrame({'day':d,'month':m, 's_id': shop_id, 'y': year})