In [1]:
import graphlab
graphlab.product_key.set_product_key('C1F8-C271-2792-131F-9B58-89C4-548B-7F25')

# output active product key
graphlab.product_key.get_product_key()
import graphlab as gl

In [3]:
user_pay = gl.SFrame.read_csv('dataset/user_pay.txt', header = None).rename({'X1':'user_id', 'X2': 'shop_id', 'X3': 'timestamp'})

Finished parsing file /home/ubuntu/koubei/dataset/user_pay.txt

Parsing completed. Parsed 100 lines in 1.30386 secs.

Read 1599316 lines. Lines per second: 911562

Read 19096497 lines. Lines per second: 2.75334e+06

Read 36584426 lines. Lines per second: 2.98558e+06

Read 54083566 lines. Lines per second: 3.07975e+06

Finished parsing file /home/ubuntu/koubei/dataset/user_pay.txt

Parsing completed. Parsed 64644230 lines in 20.7014 secs.

------------------------------------------------------
Inferred types from first 100 line(s) of file as
column_type_hints=[int,int,str]
If parsing fails due to incorrect types, you can correct
the inferred type list above and pass it to read_csv in
the column_type_hints argument
------------------------------------------------------

In [4]:
user_pay['date'] = user_pay['timestamp'].str_to_datetime('%Y-%m-%d')
a = user_pay['date'].split_datetime(column_name_prefix='date',limit=['day','year', 'month', 'isoweekday'])
user_pay.add_columns(a)
user_pay.remove_columns(['timestamp', 'date'])

Columns:
	user_id	int
	shop_id	int
	date.day	int
	date.year	int
	date.month	int
	date.isoweekday	int

Rows: 64644230

Data:
+----------+---------+----------+-----------+------------+-----------------+
| user_id  | shop_id | date.day | date.year | date.month | date.isoweekday |
+----------+---------+----------+-----------+------------+-----------------+
| 22127870 |   1862  |    25    |    2015   |     12     |        5        |
| 3434231  |   1862  |    5     |    2016   |     10     |        3        |
| 16955285 |   1862  |    10    |    2016   |     2      |        3        |
| 13799128 |   1862  |    13    |    2016   |     1      |        3        |
| 13799128 |   1862  |    5     |    2016   |     7      |        2        |
| 20244878 |   1862  |    17    |    2016   |     9      |        6        |
| 20244878 |   1862  |    29    |    2016   |     5      |        7        |
|  438444  |   1862  |    22    |    2016   |     2      |        1        |
| 22003193 |   1862  |    7     |    2016   |     8      |        7        |
| 20244878 |   1862  |    17    |    2016   |     4      |        7        |
+----------+---------+----------+-----------+------------+-----------------+
[64644230 rows x 6 columns]
Note: Only the head of the SFrame is printed.
You can use print_rows(num_rows=m, num_columns=n) to print more rows and columns.

In [5]:
user_pay.remove_columns(['user_id'])

Columns:
	shop_id	int
	date.day	int
	date.year	int
	date.month	int
	date.isoweekday	int

Rows: 64644230

Data:
+---------+----------+-----------+------------+-----------------+
| shop_id | date.day | date.year | date.month | date.isoweekday |
+---------+----------+-----------+------------+-----------------+
|   1862  |    25    |    2015   |     12     |        5        |
|   1862  |    5     |    2016   |     10     |        3        |
|   1862  |    10    |    2016   |     2      |        3        |
|   1862  |    13    |    2016   |     1      |        3        |
|   1862  |    5     |    2016   |     7      |        2        |
|   1862  |    17    |    2016   |     9      |        6        |
|   1862  |    29    |    2016   |     5      |        7        |
|   1862  |    22    |    2016   |     2      |        1        |
|   1862  |    7     |    2016   |     8      |        7        |
|   1862  |    17    |    2016   |     4      |        7        |
+---------+----------+-----------+------------+-----------------+
[64644230 rows x 5 columns]
Note: Only the head of the SFrame is printed.
You can use print_rows(num_rows=m, num_columns=n) to print more rows and columns.

In [6]:
import graphlab.aggregate as agg

user_payg = user_pay.groupby(key_columns= ['shop_id','date.day','date.year', 'date.month', 'date.isoweekday'],\
                             operations={'count': agg.COUNT()})

In [10]:
user_payg.save('user_payg.csv', format= 'csv')