In [1]:
import graphlab as gl
gl.product_key.set_product_key('C1F8-C271-2792-131F-9B58-89C4-548B-7F25')

# output active product key
gl.product_key.get_product_key()

'C1F8-C271-2792-131F-9B58-89C4-548B-7F25'

In [4]:
user_pay_grouped = gl.SFrame.read_csv('user_pay_grouped.csv')

Finished parsing file /home/ubuntu/koubei/user_pay_grouped.csv

Parsing completed. Parsed 100 lines in 0.368536 secs.

Finished parsing file /home/ubuntu/koubei/user_pay_grouped.csv

Parsing completed. Parsed 599275 lines in 0.445015 secs.

------------------------------------------------------
Inferred types from first 100 line(s) of file as
column_type_hints=[int,int,int,int,int]
If parsing fails due to incorrect types, you can correct
the inferred type list above and pass it to read_csv in
the column_type_hints argument
------------------------------------------------------

In [5]:
user_grouped = gl.SFrame.read_csv('user_view_grouped.csv')

Finished parsing file /home/ubuntu/koubei/user_view_grouped.csv

Parsing completed. Parsed 100 lines in 1.12685 secs.

Finished parsing file /home/ubuntu/koubei/user_view_grouped.csv

Parsing completed. Parsed 419281 lines in 0.337661 secs.

------------------------------------------------------
Inferred types from first 100 line(s) of file as
column_type_hints=[int,int,int,int,int]
If parsing fails due to incorrect types, you can correct
the inferred type list above and pass it to read_csv in
the column_type_hints argument
------------------------------------------------------

In [11]:
day = gl.SArray([], int)
month = gl.SArray([], int)
shop_id = gl.SArray([], int)
year = gl.SArray([], int)
ratio = gl.SArray([], float)
conv_rate = gl.SFrame({'day':day,'month':month, 'shop_id': shop_id, 'year': year, 'ratio': ratio})

In [20]:
for i in user_pay_grouped:
    for j in user_grouped:
        if( i['day'] == j['day'] and i['month'] == j['month']
           and i['shop_id'] == j['shop_id'] and i['year'] == j['year']):
            
            d = gl.SArray([i['day']])
            m = gl.SArray([i['month']])
            s_id = gl.SArray([i['shop_id']])
            y = gl.SArray([i['year']])
            ratio = i['count']/j['count'] + 1.0
            
            cr = gl.SFrame({'day':d,'month':m, 'shop_id': shop_id, 'year': year, 'ratio': ratio})
            conv_rate = conv_rate.append()

KeyboardInterrupt:

In [2]:
user_view = gl.SFrame.read_csv('user_view_all.csv')

[INFO] graphlab.cython.cy_server: GraphLab Create v2.1 started. Logging: /tmp/graphlab_server_1488553935.log
INFO:graphlab.cython.cy_server:GraphLab Create v2.1 started. Logging: /tmp/graphlab_server_1488553935.log

Finished parsing file /home/ubuntu/koubei/user_view_all.csv

Parsing completed. Parsed 100 lines in 1.80927 secs.

This non-commercial license of GraphLab Create for academic use is assigned to raplsaxena@gmail.com and will expire on February 23, 2018.
------------------------------------------------------

Read 1594042 lines. Lines per second: 770989

Finished parsing file /home/ubuntu/koubei/user_view_all.csv

Parsing completed. Parsed 10106644 lines in 6.05703 secs.

Inferred types from first 100 line(s) of file as
column_type_hints=[int,int,str]
If parsing fails due to incorrect types, you can correct
the inferred type list above and pass it to read_csv in
the column_type_hints argument
------------------------------------------------------

In [3]:
user_view['date'] = [d.split()[0] for d in user_view['timestamp']]

In [4]:
user_view['date'] = user_view['date'].str_to_datetime('%Y-%m-%d')

In [5]:
user_view.remove_columns(['timestamp'])

Columns:
	user_id	int
	shop_id	int
	date	datetime

Rows: 10106644

Data:
+----------+---------+---------------------+
| user_id  | shop_id |         date        |
+----------+---------+---------------------+
| 13201967 |   1197  | 2016-10-21 00:00:00 |
| 19461365 |   1197  | 2016-06-28 00:00:00 |
| 15022321 |   1197  | 2016-07-16 00:00:00 |
| 5440872  |   1197  | 2016-07-15 00:00:00 |
| 12594529 |   1197  | 2016-08-07 00:00:00 |
| 5440872  |   1197  | 2016-08-12 00:00:00 |
| 19918044 |   1197  | 2016-09-03 00:00:00 |
| 9476039  |   1197  | 2016-09-04 00:00:00 |
| 4081995  |   1197  | 2016-09-25 00:00:00 |
| 12594529 |   1197  | 2016-08-07 00:00:00 |
+----------+---------+---------------------+
[10106644 rows x 3 columns]
Note: Only the head of the SFrame is printed.
You can use print_rows(num_rows=m, num_columns=n) to print more rows and columns.

In [6]:
import graphlab.aggregate as agg

user_vg = user_view.groupby(key_columns= ['shop_id','date'],  operations={'count': agg.COUNT()})

In [7]:
user_vg

Columns:
	date	datetime
	shop_id	int
	count	int

Rows: 419281

Data:
+---------------------+---------+-------+
|         date        | shop_id | count |
+---------------------+---------+-------+
| 2016-08-27 00:00:00 |   1480  |   20  |
| 2016-09-06 00:00:00 |   573   |   19  |
| 2016-03-08 00:00:00 |   1556  |   1   |
| 2016-05-13 00:00:00 |   341   |   17  |
| 2016-05-03 00:00:00 |   570   |   37  |
| 2016-07-26 00:00:00 |   1607  |   18  |
| 2016-09-30 00:00:00 |   1897  |   12  |
| 2016-10-21 00:00:00 |   135   |   5   |
| 2016-07-05 00:00:00 |   186   |   29  |
| 2016-08-03 00:00:00 |   1842  |   4   |
+---------------------+---------+-------+
[419281 rows x 3 columns]
Note: Only the head of the SFrame is printed.
You can use print_rows(num_rows=m, num_columns=n) to print more rows and columns.

In [8]:
user_vg[user_vg['shop_id']== 1]

Columns:
	date	datetime
	shop_id	int
	count	int

Rows: Unknown

Data:
+---------------------+---------+-------+
|         date        | shop_id | count |
+---------------------+---------+-------+
| 2016-04-03 00:00:00 |    1    |   6   |
| 2016-04-15 00:00:00 |    1    |   31  |
| 2016-07-09 00:00:00 |    1    |   25  |
| 2016-05-09 00:00:00 |    1    |   16  |
| 2016-10-24 00:00:00 |    1    |   19  |
| 2016-09-22 00:00:00 |    1    |   22  |
| 2016-03-02 00:00:00 |    1    |   2   |
| 2016-04-30 00:00:00 |    1    |   16  |
| 2016-06-07 00:00:00 |    1    |   13  |
| 2016-02-04 00:00:00 |    1    |   8   |
+---------------------+---------+-------+
[? rows x 3 columns]
Note: Only the head of the SFrame is printed. This SFrame is lazily evaluated.
You can use sf.materialize() to force materialization.

In [9]:
user_pay = gl.SFrame.read_csv('dataset/user_pay.txt', header = None).rename({'X1':'user_id', 'X2': 'shop_id', 'X3': 'timestamp'})

Finished parsing file /home/ubuntu/koubei/dataset/user_pay.txt

Parsing completed. Parsed 100 lines in 1.94783 secs.

Read 1599316 lines. Lines per second: 723102

Read 9537681 lines. Lines per second: 1.32038e+06

Read 17510309 lines. Lines per second: 1.42688e+06

Read 25472626 lines. Lines per second: 1.46908e+06

Read 33419691 lines. Lines per second: 1.49198e+06

Read 41343495 lines. Lines per second: 1.50457e+06

Read 49293962 lines. Lines per second: 1.51581e+06

Read 57263489 lines. Lines per second: 1.52286e+06

Read 65224872 lines. Lines per second: 1.52879e+06

Finished parsing file /home/ubuntu/koubei/dataset/user_pay.txt

Parsing completed. Parsed 69674110 lines in 44.8746 secs.

------------------------------------------------------
Inferred types from first 100 line(s) of file as
column_type_hints=[int,int,str]
If parsing fails due to incorrect types, you can correct
the inferred type list above and pass it to read_csv in
the column_type_hints argument
------------------------------------------------------

In [10]:
user_pay['date'] = [d.split()[0] for d in user_pay['timestamp']]

In [11]:
user_pay['date'] = user_pay['date'].str_to_datetime('%Y-%m-%d')

In [12]:
user_pg = user_pay.groupby(key_columns= ['shop_id','date'],  operations={'count': agg.COUNT()})

In [13]:
len(user_pg[user_pg['shop_id']== 1])

387

In [28]:
import random
print(random.randint(0,9))

4

In [69]:
random_date(user_vg.sort(sort_columns = ['date']).head()[0]['date'], user_vg.sort(sort_columns = ['date']).tail()[0]['date'])

datetime.datetime(2016, 2, 17, 17, 26, 45)

In [14]:
print user_vg.sort(sort_columns = ['date']).head()[0]['date']
print user_vg.sort(sort_columns = ['date']).tail()[0]['date']

2016-02-01 00:00:00
2016-10-31 00:00:00

In [15]:
print user_pg.sort(sort_columns = ['date']).head()[0]['date']
print user_pg.sort(sort_columns = ['date']).tail()[0]['date']

2015-06-26 00:00:00
2016-10-31 00:00:00

In [27]:
user_pg_lim = user_pg[user_pg['date'] >= user_vg.sort(sort_columns = ['date']).head()[0]['date']]

In [29]:
len(user_pg_lim)

452624

In [30]:
len(user_vg)

419281

In [40]:
user_pg[user_pg['shop_id'] == 1 and user_pg['date'] == user_vg.sort(sort_columns = ['date']).head()[0]['date']]['count']
/(user_vg[user_vg['shop_id'] == 1 and user_vg['date'] == user_vg.sort(sort_columns = ['date']).head()[0]['date'] ]['count'] +1.)

ValueError: The truth value of an array with more than one element is ambiguous. Use a.any() or a.all()

In [41]:
user_pg_lim.show()

Canvas is accessible via web browser at the URL: http://localhost:41340/index.html
Opening Canvas in default web browser.