In [1]:
import graphlab
graphlab.product_key.set_product_key('C1F8-C271-2792-131F-9B58-89C4-548B-7F25')

# output active product key
graphlab.product_key.get_product_key()

'C1F8-C271-2792-131F-9B58-89C4-548B-7F25'

In [2]:
import graphlab as gl

In [3]:
user_data_1 = gl.SFrame.read_csv('dataset/extra_user_view.txt', delimiter= ',', header= None)
user_data_2 = gl.SFrame.read_csv('dataset/user_view.txt', delimiter= ',', header= None)

[INFO] graphlab.cython.cy_server: GraphLab Create v2.1 started. Logging: /tmp/graphlab_server_1488379370.log
INFO:graphlab.cython.cy_server:GraphLab Create v2.1 started. Logging: /tmp/graphlab_server_1488379370.log

Finished parsing file /home/ubuntu/dataset/extra_user_view.txt

Parsing completed. Parsed 100 lines in 2.11267 secs.

This non-commercial license of GraphLab Create for academic use is assigned to raplsaxena@gmail.com and will expire on February 23, 2018.
------------------------------------------------------

Read 1582933 lines. Lines per second: 744797

Finished parsing file /home/ubuntu/dataset/extra_user_view.txt

Parsing completed. Parsed 4549929 lines in 3.24246 secs.

Finished parsing file /home/ubuntu/dataset/user_view.txt

Parsing completed. Parsed 100 lines in 1.95037 secs.

Inferred types from first 100 line(s) of file as
column_type_hints=[int,int,str]
If parsing fails due to incorrect types, you can correct
the inferred type list above and pass it to read_csv in
the column_type_hints argument
------------------------------------------------------
------------------------------------------------------

Read 1594042 lines. Lines per second: 649890

Finished parsing file /home/ubuntu/dataset/user_view.txt

Parsing completed. Parsed 5556715 lines in 4.19794 secs.

Inferred types from first 100 line(s) of file as
column_type_hints=[int,int,str]
If parsing fails due to incorrect types, you can correct
the inferred type list above and pass it to read_csv in
the column_type_hints argument
------------------------------------------------------

In [4]:
user_view = user_data_2.append(user_data_1)

In [5]:
user_view.shape

(10106644, 3)

In [6]:
user_view.rename({'X1':'user_id', 'X2': 'shop_id', 'X3': 'timestamp'})

Columns:
	user_id	int
	shop_id	int
	timestamp	str

Rows: 10106644

Data:
+----------+---------+---------------------+
| user_id  | shop_id |      timestamp      |
+----------+---------+---------------------+
| 13201967 |   1197  | 2016-10-21 18:00:00 |
| 19461365 |   1197  | 2016-06-28 23:00:00 |
| 15022321 |   1197  | 2016-07-16 19:00:00 |
| 5440872  |   1197  | 2016-07-15 07:00:00 |
| 12594529 |   1197  | 2016-08-07 16:00:00 |
| 5440872  |   1197  | 2016-08-12 08:00:00 |
| 19918044 |   1197  | 2016-09-03 16:00:00 |
| 9476039  |   1197  | 2016-09-04 17:00:00 |
| 4081995  |   1197  | 2016-09-25 10:00:00 |
| 12594529 |   1197  | 2016-08-07 16:00:00 |
+----------+---------+---------------------+
[10106644 rows x 3 columns]
Note: Only the head of the SFrame is printed.
You can use print_rows(num_rows=m, num_columns=n) to print more rows and columns.

In [7]:
user_view.save('user_view_all.csv', format= 'csv')