In [1]:
import pandas as pd
import numpy as np

In [43]:
user_payg = pd.read_csv('/home/ubuntu/koubei/user_payg.csv')

In [44]:
user_payg.head()

   date.day  date.isoweekday  date.month  date.year  shop_id  count
0        30                7          10       2016      544    221
1        30                2           8       2016      810    125
2         7                5          10       2016      163     91
3        10                6           9       2016     1977    137
4        10                7           4       2016      746     68

In [45]:
shop_pd = pd.read_csv('shop_info.txt', header=None,encoding='utf-8')

In [46]:
shop_pd.columns = ['shop_id','city_name','location_id',
                   'per_pay','score', 'comment_cnt','shop_level','cate_1_name',
                   'cate_2_name','cate_3_name']

In [47]:
shop_pd.head()

,shop_id,city_name,location_id,per_pay,score,comment_cnt,shop_level,cate_1_name,cate_2_name,cate_3_name
0,1,湖州,885,8,4,12,2,美食,休闲茶饮,饮品/甜点
1,2,哈尔滨,64,19,NaN,NaN,1,超市便利店,超市,NaN
2,3,南昌,774,5,3,2,0,美食,休闲茶饮,奶茶
3,4,天津,380,18,NaN,NaN,1,超市便利店,超市,NaN
4,5,杭州,263,2,2,2,0,美食,休闲食品,生鲜水果

In [48]:
result = pd.merge(user_payg, shop_pd, how='left', on='shop_id')

In [49]:
result

,date.day,date.isoweekday,date.month,date.year,shop_id,count,city_name,location_id,per_pay,score,comment_cnt,shop_level,cate_1_name,cate_2_name,cate_3_name
0,30,7,10,2016,544,221,绍兴,418,10,3,4,0,美食,小吃,其它小吃
1,30,2,8,2016,810,125,北京,42,9,2,1,0,美食,快餐,中式快餐
2,7,5,10,2016,163,91,杭州,778,17,4,0,0,超市便利店,超市,NaN
3,10,6,9,2016,1977,137,南昌,774,6,3,3,0,美食,快餐,中式快餐
4,10,7,4,2016,746,68,广州,235,9,3,5,2,美食,快餐,西式快餐
5,30,3,12,2015,731,907,广州,710,1,0,0,1,超市便利店,便利店,NaN
6,21,3,9,2016,563,41,龙岩,95,10,3,2,2,美食,快餐,西式快餐
7,22,2,12,2015,324,47,杭州,181,10,3,3,0,美食,休闲食品,生鲜水果
8,8,3,6,2016,1200,57,温州,704,5,4,0,1,超市便利店,便利店,NaN
9,7,6,5,2016,1978,11,南京,680,8,3,2,0,美食,烘焙糕点,面包
10,31,2,5,2016,798,72,北京,402,10,2,2,0,美食,快餐,中式快餐
11,29,7,5,2016,671,261,成都,446,19,4,0,1,超市便利店,超市,NaN
12,10,4,3,2016,890,32,湛江,994,11,3,4,2,美食,快餐,西式快餐
13,19,5,8,2016,710,84,深圳,991,11,3,8,2,美食,快餐,西式快餐
14,1,5,7,2016,1420,257,杭州,865,2,4,0,1,超市便利店,便利店,NaN
15,22,6,8,2015,1805,43,惠州,83,12,2,6,2,美食,快餐,西式快餐
16,22,5,1,2016,718,1,合肥,374,3,2,1,0,美食,休闲食品,生鲜水果
17,13,2,10,2015,320,161,合肥,337,13,2,19,2,美食,快餐,西式快餐
18,24,6,9,2016,1433,83,深圳,1109,13,3,1,0,美食,烘焙糕点,其它烘焙糕点
19,6,3,1,2016,1634,60,苏州,1026,8,3,0,1,超市便利店,超市,NaN
20,20,7,12,2015,1601,71,杭州,40,14,3,1,2,美食,休闲食品,生鲜水果
21,9,2,2,2016,566,111,合肥,817,12,3,7,2,美食,快餐,西式快餐
22,4,6,6,2016,1721,42,成都,508,2,3,1,0,美食,中餐,其它地方菜
23,20,5,5,2016,1516,53,温州,1029,4,4,0,1,超市便利店,便利店,NaN
24,3,4,3,2016,1557,314,嘉兴,92,13,3,18,2,美食,快餐,西式快餐
25,8,5,7,2016,318,111,南京,680,18,3,4,0,美食,中餐,粤菜
26,8,3,6,2016,984,79,天津,728,9,4,8,2,美食,休闲茶饮,饮品/甜点
27,1,2,3,2016,1523,39,江门,918,2,1,1,0,美食,烘焙糕点,面包
28,27,4,10,2016,49,388,南通,253,19,3,0,1,超市便利店,超市,NaN
29,14,3,9,2016,1239,70,温州,840,6,4,0,1,超市便利店,便利店,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
555285,2,3,3,2016,264,59,杭州,521,8,3,3,0,美食,休闲食品,生鲜水果
555286,8,2,3,2016,1717,112,重庆,347,19,NaN,NaN,1,超市便利店,超市,NaN
555287,30,2,8,2016,538,56,北京,1130,10,3,1,0,美食,休闲茶饮,冰激凌
555288,28,3,10,2015,813,60,北京,580,9,4,4,2,美食,休闲茶饮,饮品/甜点
555289,17,5,6,2016,1581,69,重庆,803,8,3,5,2,美食,休闲茶饮,饮品/甜点
555290,25,4,2,2016,386,144,上海,781,10,3,7,2,美食,快餐,西式快餐
555291,7,7,8,2016,964,199,南京,469,9,2,5,0,美食,小吃,其它小吃
555292,21,5,10,2016,1515,220,北京,9,18,NaN,NaN,1,超市便利店,超市,NaN
555293,29,2,3,2016,410,62,温州,100,2,3,1,0,美食,休闲茶饮,奶茶
555294,24,4,3,2016,559,207,福州,122,3,2,1,0,美食,快餐,中式快餐
555295,23,3,12,2015,319,57,上海,640,1,3,2,0,美食,小吃,面点
555296,24,2,11,2015,1246,27,杭州,1093,14,2,2,0,美食,快餐,其它快餐
555297,6,5,5,2016,1569,70,珠海,999,1,3,2,0,美食,休闲食品,生鲜水果
555298,18,6,6,2016,1577,42,沈阳,920,6,4,3,2,美食,快餐,西式快餐
555299,5,3,10,2016,297,222,长沙,104,2,2,2,0,美食,休闲食品,生鲜水果
555300,24,6,9,2016,936,82,上海,1023,20,2,1,2,美食,烧烤,中式烧烤
555301,23,5,9,2016,1138,68,南京,1126,8,3,2,0,美食,小吃,面点
555302,1,4,9,2016,1706,332,北京,328,3,NaN,NaN,0,超市便利店,便利店,NaN
555303,13,7,9,2015,1975,55,绍兴,418,9,3,6,0,美食,烘焙糕点,蛋糕
555304,8,7,5,2016,803,43,武汉,117,1,2,0,0,美食,小吃,其它小吃
555305,17,7,4,2016,1781,37,深圳,862,13,2,2,1,美食,快餐,中式快餐
555306,12,1,9,2016,67,72,南京,297,7,1,2,0,美食,小吃,面点
555307,6,5,5,2016,1947,69,石家庄,873,2,4,0,1,超市便利店,便利店,NaN
555308,12,2,7,2016,1254,66,宜昌,483,18,4,0,0,超市便利店,超市,NaN
555309,19,5,2,2016,1398,50,上海,643,17,3,2,2,美食,休闲茶饮,饮品/甜点
555310,23,6,4,2016,542,27,杭州,908,9,1,1,0,美食,快餐,中式快餐
555311,11,3,5,2016,1388,52,肇庆,246,14,3,6,2,美食,快餐,西式快餐
555312,5,4,5,2016,1421,92,上海,420,15,3,4,2,美食,快餐,西式快餐
555313,12,4,11,2015,853,66,郑州,957,13,3,8,2,美食,快餐,西式快餐
555314,28,6,5,2016,976,56,广州,944,4,4,0,0,超市便利店,便利店,NaN

In [50]:
result.drop(['location_id', 'comment_cnt', 'score', 'cate_3_name'], axis=1, inplace=True)

In [51]:
result.isnull().sum()

date.day           0
date.isoweekday    0
date.month         0
date.year          0
shop_id            0
count              0
city_name          0
per_pay            0
shop_level         0
cate_1_name        0
cate_2_name        0
dtype: int64

In [52]:
result.head(10)

,date.day,date.isoweekday,date.month,date.year,shop_id,count,city_name,per_pay,shop_level,cate_1_name,cate_2_name
0,30,7,10,2016,544,221,绍兴,10,0,美食,小吃
1,30,2,8,2016,810,125,北京,9,0,美食,快餐
2,7,5,10,2016,163,91,杭州,17,0,超市便利店,超市
3,10,6,9,2016,1977,137,南昌,6,0,美食,快餐
4,10,7,4,2016,746,68,广州,9,2,美食,快餐
5,30,3,12,2015,731,907,广州,1,1,超市便利店,便利店
6,21,3,9,2016,563,41,龙岩,10,2,美食,快餐
7,22,2,12,2015,324,47,杭州,10,0,美食,休闲食品
8,8,3,6,2016,1200,57,温州,5,1,超市便利店,便利店
9,7,6,5,2016,1978,11,南京,8,0,美食,烘焙糕点

In [53]:
dummy_fields = ['date.day', 'date.isoweekday', 'date.month','date.year', 
                'city_name','per_pay','shop_level','cate_1_name','cate_2_name']
#'date.day', 'date.isoweekday', 'date.month', 
for each in dummy_fields:
    dummies = pd.get_dummies(result[each], prefix=each)
    result = pd.concat([result, dummies], axis=1)

In [54]:
result.shape

(555315, 226)

In [55]:
for i in result.columns: print i

date.day
date.isoweekday
date.month
date.year
shop_id
count
city_name
per_pay
shop_level
cate_1_name
cate_2_name
date.day_1
date.day_2
date.day_3
date.day_4
date.day_5
date.day_6
date.day_7
date.day_8
date.day_9
date.day_10
date.day_11
date.day_12
date.day_13
date.day_14
date.day_15
date.day_16
date.day_17
date.day_18
date.day_19
date.day_20
date.day_21
date.day_22
date.day_23
date.day_24
date.day_25
date.day_26
date.day_27
date.day_28
date.day_29
date.day_30
date.day_31
date.isoweekday_1
date.isoweekday_2
date.isoweekday_3
date.isoweekday_4
date.isoweekday_5
date.isoweekday_6
date.isoweekday_7
date.month_1
date.month_2
date.month_3
date.month_4
date.month_5
date.month_6
date.month_7
date.month_8
date.month_9
date.month_10
date.month_11
date.month_12
date.year_2015
date.year_2016
city_name_三亚
city_name_三明
city_name_上海
city_name_上饶
city_name_东莞
city_name_东营
city_name_中山
city_name_丽水
city_name_乐山
city_name_佛山
city_name_保定
city_name_信阳
city_name_六安
city_name_北京
city_name_十堰
city_name_南京
city_name_南宁
city_name_南平
city_name_南昌
city_name_南通
city_name_厦门
city_name_台州
city_name_合肥
city_name_咸宁
city_name_哈尔滨
city_name_嘉兴
city_name_大连
city_name_天津
city_name_天门
city_name_太原
city_name_威海
city_name_孝感
city_name_宁德
city_name_宁波
city_name_安康
city_name_宜昌
city_name_宝鸡
city_name_宿迁
city_name_常州
city_name_广州
city_name_廊坊
city_name_张家口
city_name_徐州
city_name_德阳
city_name_思茅
city_name_惠州
city_name_成都
city_name_扬州
city_name_抚顺
city_name_无锡
city_name_日照
city_name_昆明
city_name_杭州
city_name_柳州
city_name_株洲
city_name_梧州
city_name_武汉
city_name_汉中
city_name_汕尾
city_name_江门
city_name_沈阳
city_name_泉州
city_name_泰州
city_name_洛阳
city_name_济南
city_name_济宁
city_name_淮安
city_name_深圳
city_name_清远
city_name_温州
city_name_湖州
city_name_湛江
city_name_漳州
city_name_潍坊
city_name_濮阳
city_name_烟台
city_name_珠海
city_name_盐城
city_name_石家庄
city_name_石河子
city_name_福州
city_name_绍兴
city_name_绵阳
city_name_聊城
city_name_肇庆
city_name_自贡
city_name_舟山
city_name_芜湖
city_name_苏州
city_name_荆州
city_name_荆门
city_name_莆田
city_name_营口
city_name_葫芦岛
city_name_蚌埠
city_name_衢州
city_name_襄阳
city_name_西安
city_name_贵阳
city_name_辽阳
city_name_达州
city_name_通辽
city_name_邢台
city_name_邯郸
city_name_郑州
city_name_重庆
city_name_金华
city_name_铜陵
city_name_锦州
city_name_镇江
city_name_长沙
city_name_长治
city_name_阜阳
city_name_阳江
city_name_青岛
city_name_黄冈
city_name_黄山
city_name_黄石
city_name_龙岩
per_pay_1
per_pay_2
per_pay_3
per_pay_4
per_pay_5
per_pay_6
per_pay_7
per_pay_8
per_pay_9
per_pay_10
per_pay_11
per_pay_12
per_pay_13
per_pay_14
per_pay_15
per_pay_16
per_pay_17
per_pay_18
per_pay_19
per_pay_20
shop_level_0
shop_level_1
shop_level_2
cate_1_name_休闲娱乐
cate_1_name_医疗健康
cate_1_name_美食
cate_1_name_购物
cate_1_name_超市便利店
cate_2_name_个人护理
cate_2_name_中餐
cate_2_name_休闲茶饮
cate_2_name_休闲食品
cate_2_name_便利店
cate_2_name_其他美食
cate_2_name_小吃
cate_2_name_快餐
cate_2_name_本地购物
cate_2_name_汤/粥/煲/砂锅/炖菜
cate_2_name_火锅
cate_2_name_烘焙糕点
cate_2_name_烧烤
cate_2_name_网吧网咖
cate_2_name_药店
cate_2_name_超市

In [82]:
df.head()

,shop_id,count,date.day_1,date.day_2,date.day_3,date.day_4,date.day_5,date.day_6,date.day_7,date.day_8,...,cate_2_name_小吃,cate_2_name_快餐,cate_2_name_本地购物,cate_2_name_汤/粥/煲/砂锅/炖菜,cate_2_name_火锅,cate_2_name_烘焙糕点,cate_2_name_烧烤,cate_2_name_网吧网咖,cate_2_name_药店,cate_2_name_超市
0,544,221,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
1,810,125,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
2,163,91,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,1
3,1977,137,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
4,746,68,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0

In [57]:
result.drop(dummy_fields, axis=1, inplace=True)

In [78]:
result.to_csv('final_file.csv',sep=',', encoding='GBK')

In [97]:
df = pd.read_csv('final_file.csv',encoding="GBK")
#data06_16 = pd.read_csv("../data/stocks1542monthly.csv", encoding="")

In [98]:
df.drop(['Unnamed: 0'], axis=1, inplace=True)

In [99]:
a = df[['count']]
a

        count
0         221
1         125
2          91
3         137
4          68
5         907
6          41
7          47
8          57
9          11
10         72
11        261
12         32
13         84
14        257
15         43
16          1
17        161
18         83
19         60
20         71
21        111
22         42
23         53
24        314
25        111
26         79
27         39
28        388
29         70
...       ...
555285     59
555286    112
555287     56
555288     60
555289     69
555290    144
555291    199
555292    220
555293     62
555294    207
555295     57
555296     27
555297     70
555298     42
555299    222
555300     82
555301     68
555302    332
555303     55
555304     43
555305     37
555306     72
555307     69
555308     66
555309     50
555310     27
555311     52
555312     92
555313     66
555314     56

[555315 rows x 1 columns]

In [100]:
df.drop(['count'], axis=1, inplace=True)

In [101]:
df['count'] = a['count']

In [103]:
df.shape

(555315, 217)

In [107]:
df.to_csv('final_file.csv',sep=',', encoding='GBK')

In [105]:
X = df.values[:, 0:216]
Y = df.values[:,216]

In [73]:
from sklearn.cross_validation import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, Y, test_size = 0.3, random_state = 100)

In [74]:
import numpy as np
from sklearn.metrics import mean_squared_error
from sklearn.ensemble import GradientBoostingRegressor

est = GradientBoostingRegressor(n_estimators=100, learning_rate=0.1,
    max_depth=1, random_state=0, loss='ls').fit(X_train, y_train)
mean_squared_error(y_test, est.predict(X_test))

14883.930836484995

In [ ]:
est1 = GradientBoostingRegressor(loss='huber', n_estimators=10000, learning_rate=0.051,
                                 max_depth=10, max_features= 'sqrt', alpha=0.5, warm_start=True,
                                 random_state=0).fit(X_train, y_train)
#mean_squared_error(y_test, est1.predict(X_test)) 
# 6:30pm

In [2]:
df = pd.read_csv('final_file.csv',encoding="GBK")

In [3]:
df.head()

,Unnamed: 0,shop_id,date.day_1,date.day_2,date.day_3,date.day_4,date.day_5,date.day_6,date.day_7,date.day_8,...,cate_2_name_快餐,cate_2_name_本地购物,cate_2_name_汤/粥/煲/砂锅/炖菜,cate_2_name_火锅,cate_2_name_烘焙糕点,cate_2_name_烧烤,cate_2_name_网吧网咖,cate_2_name_药店,cate_2_name_超市,count
0,0,544,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,221
1,1,810,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,125
2,2,163,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,1,91
3,3,1977,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,137
4,4,746,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,68