In [1]:
import pandas as pd
import numpy as np

In [2]:
import xgboost as xgb

In [5]:
df = pd.read_csv('final_file.csv',encoding="GBK")
X = df.values[:, 0:217]
Y = df.values[:,217]

from sklearn.cross_validation import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, Y, test_size = 0.3, random_state = 100)

/opt/anaconda/anaconda2/lib/python2.7/site-packages/sklearn/cross_validation.py:44: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. Also note that the interface of the new CV iterators are different from that of this module. This module will be removed in 0.20.
  "This module will be removed in 0.20.", DeprecationWarning)

In [6]:
y_test

array([ 55.,  43.,  30., ...,  86.,  88.,  33.])

In [7]:
from sklearn import datasets, linear_model, cross_validation, grid_search
from sklearn.metrics import r2_score

/opt/anaconda/anaconda2/lib/python2.7/site-packages/sklearn/grid_search.py:43: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. This module will be removed in 0.20.
  DeprecationWarning)

>>> y = np.array([1, 2, 3, 4])
>>> kf = KFold(n_splits=2)
>>> kf.get_n_splits(X)
2
>>> print(kf)  
KFold(n_splits=2, random_state=None, shuffle=False)
>>> for train_index, test_index in kf.split(X):
...    print("TRAIN:", train_index, "TEST:", test_index)
...    X_train, X_test = X[train_index], X[test_index]
...    y_train, y_test = y[train_index], y[test_index]
TRAIN: [2 3] TEST: [0 1]
TRAIN: [0 1] TEST: [2 3]

In [8]:
r2_results = []
mse_results= []

In [12]:
from sklearn.model_selection import KFold
from sklearn.metrics import mean_squared_error

In [13]:
kf_total = KFold(n_splits=25, shuffle=True, random_state=100)
for train_index, test_index in kf_total.split(X):
    x_tr, x_cv = X[train_index], X[test_index]
    y_tr, y_cv = Y[train_index], Y[test_index]
    T_train_xgb = xgb.DMatrix(x_tr, y_tr)
    params = {"objective": "reg:linear", "booster":"gbtree","max_depth":60}
    gbm = xgb.train(dtrain=T_train_xgb,params=params)
    y_pr = gbm.predict(xgb.DMatrix(x_cv))
    r2_results.append(r2_score(y_cv, y_pr))
    mse_results.append(mean_squared_error(y_cv, y_pr))

In [14]:
print np.average(r2_results)
print np.average(mse_results)

0.860000537873
2496.69219914

# 1st submission

In [16]:
params2 = {"objective": "reg:linear", "booster":"gbtree","max_depth":60}
gbm2 = xgb.train(dtrain=T_train_xgb,params=params2)
y_pred2 = gbm2.predict(xgb.DMatrix(X_test))
print(r2_score(y_test, y_pred2))
print(mean_squared_error(y_test, y_pred2))

0.989574817469
188.97161384

In [99]:
#Predictt the results
shop_id = np.arange(1,2001, 1)
shop_pred12 = pd.DataFrame(data=shop_id)
shop_pred12.columns=['shop_id']
shop_pred12

      shop_id
0           1
1           2
2           3
3           4
4           5
5           6
6           7
7           8
8           9
9          10
10         11
11         12
12         13
13         14
14         15
15         16
16         17
17         18
18         19
19         20
20         21
21         22
22         23
23         24
24         25
25         26
26         27
27         28
28         29
29         30
...       ...
1970     1971
1971     1972
1972     1973
1973     1974
1974     1975
1975     1976
1976     1977
1977     1978
1978     1979
1979     1980
1980     1981
1981     1982
1982     1983
1983     1984
1984     1985
1985     1986
1986     1987
1987     1988
1988     1989
1989     1990
1990     1991
1991     1992
1992     1993
1993     1994
1994     1995
1995     1996
1996     1997
1997     1998
1998     1999
1999     2000

[2000 rows x 1 columns]

In [96]:
shop_pd = pd.read_csv('dataset/shop_info.txt', header=None,encoding='utf-8')
shop_pd.columns = ['shop_id','city_name','location_id',
                   'per_pay','score', 'comment_cnt','shop_level','cate_1_name',
                   'cate_2_name','cate_3_name']

In [111]:
shop_pred1 = shop_pred1.append(shop_pred12, ignore_index=True)
len(shop_pred1)

28000

In [129]:
shop_pred = shop_pred1
len(shop_pred)

28000

In [69]:
d1 = np.array(["2016-11-01 17:00:00"])
d1 = np.tile(d1,(2000))

d2 = np.array(["2016-11-02 17:00:00"])
d2 = np.tile(d2,(2000))

d3 = np.array(["2016-11-03 17:00:00"])
d3 = np.tile(d3,(2000))

d4 = np.array(["2016-11-04 17:00:00"])
d4 = np.tile(d4,(2000))

d5 = np.array(["2016-11-05 17:00:00"])
d5 = np.tile(d5,(2000))

d6 = np.array(["2016-11-06 17:00:00"])
d6 = np.tile(d6,(2000))

d7 = np.array(["2016-11-07 17:00:00"])
d7 = np.tile(d7,(2000))

d8 = np.array(["2016-11-08 17:00:00"])
d8 = np.tile(d8,(2000))

d9 = np.array(["2016-11-09 17:00:00"])
d9 = np.tile(d9,(2000))

d10 = np.array(["2016-11-10 17:00:00"])
d10 = np.tile(d10,(2000))

d11 = np.array(["2016-11-11 17:00:00"])
d11 = np.tile(d11,(2000))

d12 = np.array(["2016-11-12 17:00:00"])
d12 = np.tile(d12,(2000))

d13 = np.array(["2016-11-13 17:00:00"])
d13 = np.tile(d13,(2000))

d14 = np.array(["2016-11-14 17:00:00"])
d14 = np.tile(d14,(2000))

In [72]:
#np.concatenate((a, b))
dates_pred = np.concatenate((d1, d2, d3, d4, d5,
                      d6, d7, d8, d9, d10,
                      d11, d12, d13, d14))

In [81]:
date_pred = pd.DataFrame(data=dates_pred)
date_pred.columns=['timestamp']

In [130]:
shop_pred['timestamp']= date_pred['timestamp']

In [86]:
import graphlab
graphlab.product_key.set_product_key('C1F8-C271-2792-131F-9B58-89C4-548B-7F25')

# output active product key
graphlab.product_key.get_product_key()
import graphlab as gl

In [121]:
shop_pred.timestamp = shop_pred.timestamp.astype('str')

In [125]:
shop_pred['date'] = pd.to_datetime(shop_pred['timestamp'])

In [133]:
shop_pred.to_csv('shop_pred.csv')

In [134]:
shop_gd = gl.SFrame.read_csv('shop_pred.csv')
shop_gd

[INFO] graphlab.cython.cy_server: GraphLab Create v2.1 started. Logging: /tmp/graphlab_server_1489132034.log
INFO:graphlab.cython.cy_server:GraphLab Create v2.1 started. Logging: /tmp/graphlab_server_1489132034.log

Finished parsing file /home/ubuntu/koubei/dataset/shop_pred.csv

Parsing completed. Parsed 100 lines in 0.047399 secs.

This non-commercial license of GraphLab Create for academic use is assigned to raplsaxena@gmail.com and will expire on February 23, 2018.
------------------------------------------------------

Finished parsing file /home/ubuntu/koubei/dataset/shop_pred.csv

Parsing completed. Parsed 28000 lines in 0.032127 secs.

Inferred types from first 100 line(s) of file as
column_type_hints=[int,int,str,str]
If parsing fails due to incorrect types, you can correct
the inferred type list above and pass it to read_csv in
the column_type_hints argument
------------------------------------------------------

Columns:
	X1	int
	shop_id	int
	timestamp	str
	date	str

Rows: 28000

Data:
+----+---------+---------------------+---------------------+
| X1 | shop_id |      timestamp      |         date        |
+----+---------+---------------------+---------------------+
| 0  |    1    | 2016-11-01 17:00:00 | 2016-11-01 17:00:00 |
| 1  |    2    | 2016-11-01 17:00:00 | 2016-11-01 17:00:00 |
| 2  |    3    | 2016-11-01 17:00:00 | 2016-11-01 17:00:00 |
| 3  |    4    | 2016-11-01 17:00:00 | 2016-11-01 17:00:00 |
| 4  |    5    | 2016-11-01 17:00:00 | 2016-11-01 17:00:00 |
| 5  |    6    | 2016-11-01 17:00:00 | 2016-11-01 17:00:00 |
| 6  |    7    | 2016-11-01 17:00:00 | 2016-11-01 17:00:00 |
| 7  |    8    | 2016-11-01 17:00:00 | 2016-11-01 17:00:00 |
| 8  |    9    | 2016-11-01 17:00:00 | 2016-11-01 17:00:00 |
| 9  |    10   | 2016-11-01 17:00:00 | 2016-11-01 17:00:00 |
+----+---------+---------------------+---------------------+
[28000 rows x 4 columns]
Note: Only the head of the SFrame is printed.
You can use print_rows(num_rows=m, num_columns=n) to print more rows and columns.

In [138]:
shop_gd['date'] = shop_gd['timestamp'].str_to_datetime('%Y-%m-%d')

In [139]:
a = shop_gd['date'].split_datetime(column_name_prefix='date',limit=['day','year', 'month', 'isoweekday'])

In [141]:
shop_gd.add_columns(a)

Columns:
	X1	int
	shop_id	int
	timestamp	str
	date	datetime
	date1	datetime
	date.day	int
	date.year	int
	date.month	int
	date.isoweekday	int

Rows: 28000

Data:
+----+---------+---------------------+---------------------+---------------------+
| X1 | shop_id |      timestamp      |         date        |        date1        |
+----+---------+---------------------+---------------------+---------------------+
| 0  |    1    | 2016-11-01 17:00:00 | 2016-11-01 00:00:00 | 2016-11-01 00:00:00 |
| 1  |    2    | 2016-11-01 17:00:00 | 2016-11-01 00:00:00 | 2016-11-01 00:00:00 |
| 2  |    3    | 2016-11-01 17:00:00 | 2016-11-01 00:00:00 | 2016-11-01 00:00:00 |
| 3  |    4    | 2016-11-01 17:00:00 | 2016-11-01 00:00:00 | 2016-11-01 00:00:00 |
| 4  |    5    | 2016-11-01 17:00:00 | 2016-11-01 00:00:00 | 2016-11-01 00:00:00 |
| 5  |    6    | 2016-11-01 17:00:00 | 2016-11-01 00:00:00 | 2016-11-01 00:00:00 |
| 6  |    7    | 2016-11-01 17:00:00 | 2016-11-01 00:00:00 | 2016-11-01 00:00:00 |
| 7  |    8    | 2016-11-01 17:00:00 | 2016-11-01 00:00:00 | 2016-11-01 00:00:00 |
| 8  |    9    | 2016-11-01 17:00:00 | 2016-11-01 00:00:00 | 2016-11-01 00:00:00 |
| 9  |    10   | 2016-11-01 17:00:00 | 2016-11-01 00:00:00 | 2016-11-01 00:00:00 |
+----+---------+---------------------+---------------------+---------------------+
+----------+-----------+------------+-----------------+
| date.day | date.year | date.month | date.isoweekday |
+----------+-----------+------------+-----------------+
|    1     |    2016   |     11     |        2        |
|    1     |    2016   |     11     |        2        |
|    1     |    2016   |     11     |        2        |
|    1     |    2016   |     11     |        2        |
|    1     |    2016   |     11     |        2        |
|    1     |    2016   |     11     |        2        |
|    1     |    2016   |     11     |        2        |
|    1     |    2016   |     11     |        2        |
|    1     |    2016   |     11     |        2        |
|    1     |    2016   |     11     |        2        |
+----------+-----------+------------+-----------------+
[28000 rows x 9 columns]
Note: Only the head of the SFrame is printed.
You can use print_rows(num_rows=m, num_columns=n) to print more rows and columns.

In [143]:
shop_gd.remove_columns(['timestamp', 'date','date1'])

Columns:
	X1	int
	shop_id	int
	date.day	int
	date.year	int
	date.month	int
	date.isoweekday	int

Rows: 28000

Data:
+----+---------+----------+-----------+------------+-----------------+
| X1 | shop_id | date.day | date.year | date.month | date.isoweekday |
+----+---------+----------+-----------+------------+-----------------+
| 0  |    1    |    1     |    2016   |     11     |        2        |
| 1  |    2    |    1     |    2016   |     11     |        2        |
| 2  |    3    |    1     |    2016   |     11     |        2        |
| 3  |    4    |    1     |    2016   |     11     |        2        |
| 4  |    5    |    1     |    2016   |     11     |        2        |
| 5  |    6    |    1     |    2016   |     11     |        2        |
| 6  |    7    |    1     |    2016   |     11     |        2        |
| 7  |    8    |    1     |    2016   |     11     |        2        |
| 8  |    9    |    1     |    2016   |     11     |        2        |
| 9  |    10   |    1     |    2016   |     11     |        2        |
+----+---------+----------+-----------+------------+-----------------+
[28000 rows x 6 columns]
Note: Only the head of the SFrame is printed.
You can use print_rows(num_rows=m, num_columns=n) to print more rows and columns.

In [144]:
shop_gd.remove_columns(['X1'])

Columns:
	shop_id	int
	date.day	int
	date.year	int
	date.month	int
	date.isoweekday	int

Rows: 28000

Data:
+---------+----------+-----------+------------+-----------------+
| shop_id | date.day | date.year | date.month | date.isoweekday |
+---------+----------+-----------+------------+-----------------+
|    1    |    1     |    2016   |     11     |        2        |
|    2    |    1     |    2016   |     11     |        2        |
|    3    |    1     |    2016   |     11     |        2        |
|    4    |    1     |    2016   |     11     |        2        |
|    5    |    1     |    2016   |     11     |        2        |
|    6    |    1     |    2016   |     11     |        2        |
|    7    |    1     |    2016   |     11     |        2        |
|    8    |    1     |    2016   |     11     |        2        |
|    9    |    1     |    2016   |     11     |        2        |
|    10   |    1     |    2016   |     11     |        2        |
+---------+----------+-----------+------------+-----------------+
[28000 rows x 5 columns]
Note: Only the head of the SFrame is printed.
You can use print_rows(num_rows=m, num_columns=n) to print more rows and columns.

In [145]:
shop_gd.save('shop_gd.csv', format = 'csv')

In [169]:
shop_finalp = pd.read_csv('shop_gd.csv')
shop_finalp.head()

   shop_id  date.day  date.year  date.month  date.isoweekday
0        1         1       2016          11                2
1        2         1       2016          11                2
2        3         1       2016          11                2
3        4         1       2016          11                2
4        5         1       2016          11                2

In [170]:
pred = pd.merge(shop_finalp, shop_pd, how='left', on='shop_id')

In [171]:
pred.drop(['location_id', 'comment_cnt', 'score', 'cate_3_name'], axis=1, inplace=True)

In [172]:
dummy_fields = ['date.day', 'date.isoweekday', 'date.month','date.year', 
                'city_name','per_pay','shop_level','cate_1_name','cate_2_name']
#'date.day', 'date.isoweekday', 'date.month', 
for each in dummy_fields:
    dummies = pd.get_dummies(pred[each], prefix=each)
    pred = pd.concat([pred, dummies], axis=1)

In [173]:
pred.drop(dummy_fields, axis=1, inplace=True)

In [174]:
for i in pred.columns: print i

shop_id
date.day_1
date.day_2
date.day_3
date.day_4
date.day_5
date.day_6
date.day_7
date.day_8
date.day_9
date.day_10
date.day_11
date.day_12
date.day_13
date.day_14
date.isoweekday_1
date.isoweekday_2
date.isoweekday_3
date.isoweekday_4
date.isoweekday_5
date.isoweekday_6
date.isoweekday_7
date.month_11
date.year_2016
city_name_ä¸‰äºš
city_name_ä¸‰æ˜Ž
city_name_ä¸Šæµ·
city_name_ä¸Šé¥¶
city_name_ä¸œèŽž
city_name_ä¸œè¥
city_name_ä¸­å±±
city_name_ä¸½æ°´
city_name_ä¹å±±
city_name_ä½›å±±
city_name_ä¿å®š
city_name_ä¿¡é˜³
city_name_å…­å®‰
city_name_åŒ—äº¬
city_name_åå °
city_name_å—äº¬
city_name_å—å®
city_name_å—å¹³
city_name_å—æ˜Œ
city_name_å—é€š
city_name_åŽ¦é—¨
city_name_å°å·ž
city_name_åˆè‚¥
city_name_å’¸å®
city_name_å’¸é˜³
city_name_å“ˆå°”æ»¨
city_name_å˜‰å…´
city_name_å¤§è¿ž
city_name_å¤©æ´¥
city_name_å¤©é—¨
city_name_å¤ªåŽŸ
city_name_å¨æµ·
city_name_å­æ„Ÿ
city_name_å®å¾·
city_name_å®æ³¢
city_name_å®‰åº·
city_name_å®œæ˜Œ
city_name_å®é¸¡
city_name_å®¿è¿
city_name_å¸¸å·ž
city_name_å¹¿å·ž
city_name_å»ŠåŠ
city_name_å¼ å®¶å£
city_name_å¾å·ž
city_name_å¾·é˜³
city_name_æ€èŒ…
city_name_æƒ å·ž
city_name_æˆéƒ½
city_name_æ‰¬å·ž
city_name_æŠšé¡º
city_name_æ— é”¡
city_name_æ—¥ç…§
city_name_æ˜†æ˜Ž
city_name_æ­å·ž
city_name_æŸ³å·ž
city_name_æ ªæ´²
city_name_æ¢§å·ž
city_name_æ­¦æ±‰
city_name_æ±‰ä¸­
city_name_æ±•å°¾
city_name_æ±Ÿé—¨
city_name_æ²ˆé˜³
city_name_æ³‰å·ž
city_name_æ³°å·ž
city_name_æ´›é˜³
city_name_æµŽå—
city_name_æµŽå®
city_name_æ·®åŒ—
city_name_æ·®å®‰
city_name_æ·±åœ³
city_name_æ¸…è¿œ
city_name_æ¸©å·ž
city_name_æ¹–å·ž
city_name_æ¹›æ±Ÿ
city_name_æ¼³å·ž
city_name_æ½åŠ
city_name_æ¿®é˜³
city_name_çƒŸå°
city_name_çŽ‰æž—
city_name_ç æµ·
city_name_ç›åŸŽ
city_name_çŸ³å®¶åº„
city_name_çŸ³æ²³å­
city_name_ç¦å·ž
city_name_ç»å…´
city_name_ç»µé˜³
city_name_èŠåŸŽ
city_name_è‚‡åº†
city_name_è‡ªè´¡
city_name_èˆŸå±±
city_name_èŠœæ¹–
city_name_è‹å·ž
city_name_è†å·ž
city_name_è†é—¨
city_name_èŽ†ç”°
city_name_è¥å£
city_name_è‘«èŠ¦å²›
city_name_èšŒåŸ
city_name_è¡¢å·ž
city_name_è¥„é˜³
city_name_è¥¿å®‰
city_name_è´µé˜³
city_name_è¾½é˜³
city_name_è¾¾å·ž
city_name_é€šè¾½
city_name_é‚¢å°
city_name_é‚¯éƒ¸
city_name_éƒ‘å·ž
city_name_é‡åº†
city_name_é‡‘åŽ
city_name_é“œé™µ
city_name_é”¦å·ž
city_name_é•‡æ±Ÿ
city_name_é•¿æ²™
city_name_é•¿æ²»
city_name_é˜œé˜³
city_name_é˜³æ±Ÿ
city_name_é’å²›
city_name_é»„å†ˆ
city_name_é»„å±±
city_name_é»„çŸ³
city_name_é¾™å²©
per_pay_1
per_pay_2
per_pay_3
per_pay_4
per_pay_5
per_pay_6
per_pay_7
per_pay_8
per_pay_9
per_pay_10
per_pay_11
per_pay_12
per_pay_13
per_pay_14
per_pay_15
per_pay_16
per_pay_17
per_pay_18
per_pay_19
per_pay_20
shop_level_0
shop_level_1
shop_level_2
cate_1_name_ä¼‘é—²å¨±ä¹
cate_1_name_åŒ»ç–—å¥åº·
cate_1_name_ç¾Žå‘/ç¾Žå®¹/ç¾Žç”²
cate_1_name_ç¾Žé£Ÿ
cate_1_name_è´­ç‰©
cate_1_name_è¶…å¸‚ä¾¿åˆ©åº—
cate_2_name_ä¸ªäººæŠ¤ç†
cate_2_name_ä¸­é¤
cate_2_name_ä¼‘é—²èŒ¶é¥®
cate_2_name_ä¼‘é—²é£Ÿå“
cate_2_name_ä¾¿åˆ©åº—
cate_2_name_å…¶ä»–ç¾Žé£Ÿ
cate_2_name_å°åƒ
cate_2_name_å¿«é¤
cate_2_name_æœ¬åœ°è´­ç‰©
cate_2_name_æ±¤/ç²¥/ç…²/ç ‚é”…/ç‚–èœ
cate_2_name_ç«é”…
cate_2_name_çƒ˜ç„™ç³•ç‚¹
cate_2_name_çƒ§çƒ¤
cate_2_name_ç½‘å§ç½‘å’–
cate_2_name_ç¾Žå®¹ç¾Žå‘
cate_2_name_è¯åº—
cate_2_name_è¶…å¸‚

In [175]:
pred['date.year_2015'] = 0
pred['date.day_15'] = 0
pred['date.day_16'] = 0
pred['date.day_17'] = 0
pred['date.day_18'] = 0
pred['date.day_19'] = 0
pred['date.day_20'] = 0
pred['date.day_21'] = 0
pred['date.day_22'] = 0
pred['date.day_23'] = 0
pred['date.day_24'] = 0
pred['date.day_25'] = 0
pred['date.day_26'] = 0
pred['date.day_27'] = 0
pred['date.day_28'] = 0
pred['date.day_29'] = 0
pred['date.day_30'] = 0
pred['date.day_31'] = 0
pred['date.month_1'] = 0
pred['date.month_2'] = 0
pred['date.month_3'] = 0
pred['date.month_4'] = 0
pred['date.month_5'] = 0
pred['date.month_6'] = 0
pred['date.month_7'] = 0
pred['date.month_8'] = 0
pred['date.month_9'] = 0
pred['date.month_10'] = 0
pred['date.month_12'] = 0

In [176]:
pred.shape

(28000, 221)

In [180]:
pred.to_csv('predictions.csv',encoding="GBK")

In [29]:
r2_results = []
mse_results= []
kf_total = KFold(n_splits=3, shuffle=True, random_state=100)
for train_index, test_index in kf_total.split(X):
    x_tr, x_cv = X[train_index], X[test_index]
    y_tr, y_cv = Y[train_index], Y[test_index]
    T_train_xgb = xgb.DMatrix(x_tr, y_tr)
    params_1 = {"booster":"gbtree", "objective": "reg:linear", "eta":0.1, "max_depth":25,"eval_metric":"rmse"}
    gbm = xgb.train(dtrain=T_train_xgb,params=params)
    y_pr = gbm.predict(xgb.DMatrix(x_cv))
    r2_results.append(r2_score(y_cv, y_pr))
    mse_results.append(mean_squared_error(y_cv, y_pr))
    print np.average(r2_results)
    print np.average(mse_results)

0.846494403053
2767.76687806
0.849009138546
2686.18915392
0.850403192447
2655.55175695

In [ ]:
kf_total = KFold(n_splits=10, shuffle=True, random_state=100)
for train_index, test_index in kf_total.split(X):
    x_tr, x_cv = X[train_index], X[test_index]
    y_tr, y_cv = Y[train_index], Y[test_index]
    T_train_xgb = xgb.DMatrix(x_tr, y_tr)
    params = {"objective": "reg:linear", "booster":"gbtree","max_depth":60, "lambda":5, }
    gbm = xgb.train(dtrain=T_train_xgb,params=params)
    y_pr = gbm.predict(xgb.DMatrix(x_cv))
    r2_results.append(r2_score(y_cv, y_pr))
    mse_results.append(mean_squared_error(y_cv, y_pr))

In [31]:
T_train_xgb = xgb.DMatrix(X_train, y_train)
params = {"objective": "reg:linear", "booster":"gblinear"}
gbm = xgb.train(dtrain=T_train_xgb,params=params)

In [ ]:
from sklearn.model_selection import cross_val_score

In [32]:
y_pred = gbm.predict(xgb.DMatrix(X_test))

In [33]:
from sklearn.metrics import r2_score
r2_score(y_test, y_pred)

0.19673278857505061

In [34]:
from sklearn.metrics import mean_squared_error
mean_squared_error(y_test, y_pred)

14560.387872683435

In [35]:
params1 = {"objective": "reg:linear", "booster":"dart"}
gbm1 = xgb.train(dtrain=T_train_xgb,params=params1)
y_pred1 = gbm1.predict(xgb.DMatrix(X_test))
print(r2_score(y_test, y_pred1))
print(mean_squared_error(y_test, y_pred1))

0.563503054594
7912.14273402

In [43]:
params2 = {"objective": "reg:linear", "booster":"gbtree",
           "max_depth":90}
gbm2 = xgb.train(dtrain=T_train_xgb,params=params2)
y_pred2 = gbm2.predict(xgb.DMatrix(X_test))
print(r2_score(y_test, y_pred2))
print(mean_squared_error(y_test, y_pred2))

0.847366462931
2766.70511444